*{
	list-style: none;
}
body{
	margin: 0;
	background-color: #d4dcdf;
}
a{
	text-decoration: none;
	color: black;
}
div{
	width:1520px;
	height:150px;
}
.nvg{
	width:1440px;
	height:40px;
	background-color: white;
	position: relative;
	top: 50px;
	left: 40px;
}
.nvg .logo{
	height: 40px;
	width:100px;
	position: absolute;
	left: 290px;
}
.nvg .logo img{
	height: 40px;
	width:80px;
}
.nvg .nvgContent{
	width:1000px;
	background-color: white;
	height: 40px;
	position: absolute;
	right: 0px;
	margin: 0px;
}
.nvg .nvgContent li{
	float: left;
	width: 65px;
	height: 40px;
	line-height: 40px;
	margin-left: 15px;
}
.nvg .nvgContent li:hover{
	background-color:rgba(114,240,238,1.00);
	border-radius: 6px;
}
.nvg .nvgContent li .onepage{
	color: rgba(24,148,209,1.00);
	font-weight: bold;
	font-size: 26px;
	
}
.nvg .nvgContent .pg:hover{
	background-color: white;
}
.wrap1{
	width:1440px;
	height:650px;
	position: relative;
	left: 40px;
	top: 50px;
}
.wrap1 img{
	width:1440px;
	height:650px;
}
.wrap1 .box1{
	width:320px;
	height: 600px;
	background-color: white;
	position: absolute;
	bottom:-100px;
	z-index: 2;
	border-top:8px solid white;
	border-bottom: 8px solid aqua;
	left: 250px;
	box-shadow: 1px 1px 10px 1px black;
}
.wrap1 .box1:hover{
	box-shadow: 2px 2px 15px 2px black;
	width:320px;
	height: 620px;
}

.wrap1 .box3:hover{
	box-shadow: 2px 2px 15px 2px black;
}
.wrap1 .box1 img{
	width:320px;
	height: 300px;
}
.wrap1 .box1 .content1{
	text-align: center;
	font-size:25px;
}
.wrap1 .box1 .content2{
	text-indent: 2em;
	width:240px;
	margin-left: 40px;
}
.wrap1 .box1 .content3{
	width:60px;
	height:8px;
	background-color: aqua;
	margin-left: 130px;
	margin-top:50px;
}
.wrap1 .box2{
	width:320px;
	height: 600px;
	background-color: white;
	position: absolute;
	bottom:-100px;
	z-index: 2;
	border-top:8px solid white;
	border-bottom: 8px solid aqua;
	right: 250px;
	box-shadow: 1px 1px 10px 1px black;
}
.wrap1 .box2:hover{
	box-shadow: 2px 2px 15px 2px black;
	width:320px;
	height: 620px;
}
.wrap1 .box2 img{
	width:320px;
	height: 300px;
}
.wrap1 .box2 .content1{
	text-align: center;
	font-size:25px;
}
.wrap1 .box2 .content2{
	text-indent: 2em;
	width:240px;
	margin-left: 40px;
}
.wrap1 .box2 .content3{
	width:60px;
	height:8px;
	background-color: aqua;
	margin-left: 130px;
	margin-top:50px;
}
.wrap1 .box3{
	width:320px;
	height: 680px;
	background-color: white;
	position: absolute;
	bottom:-120px;
	z-index: 2;
	border-top:8px solid white;
	border-bottom: 8px solid white;
	right: 570px;
	box-shadow: 1px 1px 10px 1px black;
}
.wrap1 .box3 img{
	width:320px;
	height: 450px;
}
.wrap1 .box3 .content1{
	text-align: center;
	font-size:25px;
}
.wrap1 .box3 .content2{
	text-indent: 2em;
	width:240px;
	margin-left: 40px;
}
.wrap1 .box3 .triangle{
	height:0;
	width:0;
	border: 160px solid #e5c3b2;
	border-color: aqua transparent  transparent transparent;
	position: absolute;
	bottom: -328px;
}
.wrap1 .box3 .triangle1{
	height:0;
	width:0;
	border: 160px solid #e5c3b2;
	border-color: white transparent  transparent transparent;
	position: absolute;
	bottom: -320px;
}
.wrap1 .box3 .content3 .triangle{
	height:0;
	width:0;
	border: 20px solid #e5c3b2;
	border-color: aqua transparent  transparent transparent;
	position: absolute;
	bottom: -20px;
	left: 140px;
}
.wrap1 .box3 .content3 .triangle1{
	height:0;
	width:0;
	border: 20px solid #e5c3b2;
	border-color: white transparent  transparent transparent;
	position: absolute;
	bottom: -10px;
	left:140px;
}
.wrap2{
	width:1440px;
	height:730px;
	position: relative;
	left: 40px;
	top: 50px;
}
.wrap2 img{
	width:1440px;
	height:730px;
}
.wrap2 .box1{
	width:960px;
	height: 200px;
	position: absolute;
	bottom:250px;
	left: 250px;
}
.wrap2 .box1 .content1{
	width:600px;
	height: 200px;
	position: absolute;
	left: 350px;
	bottom:0px;
}
.wrap2 .box1 .content1 .title{
	font-size:25px;
}
.wrap2 .box1 img{
	width:320px;
	height: 180px;
	border:10px solid white;
}
.wrap2 .box2{
	width:960px;
	height: 200px;
	position: absolute;
	bottom:20px;
	left:250px;
}
.wrap2 .box2 .content1{
	width:600px;
	height: 200px;
	position: absolute;
	left: 350px;
	bottom:0px;
}
.wrap2 .box2 .content1 .title{
	font-size:25px;
}
.wrap2 .box2 img{
	width:320px;
	height: 180px;
	border:10px solid white;
}
.wrap3{
	width:1440px;
	height:650px;
	position: relative;
	left: 40px;
	top: 50px;
}
.wrap3 img{
	width:1440px;
	height:650px;
}
.wrap3 .bigbox{
	width:500px;
	height:550px;
	background-color: white;
	position: absolute;
	bottom: 50px;
	right:300px;
}
.wrap3 .bigbox .box1{
	width:500px;
	height:182px;
	border-bottom: 1px solid gray;
}
.wrap3 .bigbox .box1 img{
	width:200px;
	height:182px;
}
.wrap3 .bigbox .box1 .content{
	width:280px;
	height: 182px;
	position: absolute;
	bottom: 375px;
	right: 0px;
}
.wrap3 .bigbox .box1 .content .title{
	font-size: 25px;
}
.wrap3 .bigbox .box2{
	width:500px;
	height:182px;
	border-bottom: 1px solid gray;
}
.wrap3 .bigbox .box2 img{
	width:200px;
	height:182px;
}
.wrap3 .bigbox .box2 .content{
	width:280px;
	height: 192px;
	position: absolute;
	bottom: 183px;
	right: 0px;
}
.wrap3 .bigbox .box2 .content .title{
	font-size: 25px;
}
.wrap3 .bigbox .box3{
	width:500px;
	height:183px;
}
.wrap3 .bigbox .box3 img{
	width:200px;
	height:183px;
}
.wrap3 .bigbox .box3 .content{
	width:280px;
	height: 183px;
	position: absolute;
	bottom: 10px;
	right: 0px;
}
.wrap3 .bigbox .box3 .content .title{
	font-size: 25px;
}
.wrap3 .pic{
	position: absolute;
	width:400px;
	height:70px;
	top:100px;
	left: 150px;
}
.wrap4{
	width:1440px;
	height:850px;
	position: relative;
	left: 40px;
	top: 50px;
	z-index: 5;
}
.wrap4 img{
	width:1440px;
	height:850px;
}
.wrap4 .img{
	width:1440px;
	height: 100px;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.wrap4 .box1{
	width:960px;
	height:250px;
	position: absolute;
	bottom: 540px;
	left:250px;
}
.wrap4 .box1 .pic .cicle img{
	width:400px;
	height:250px;
	display: none;
}
.wrap4 .box1 .pic{
	width:400px;
	height: 250px;
	background-image: url("../images/富士山.jpg");
}
.wrap4 .box1 .pic .cicle .cic5 .img5{
	position: absolute;
	top:-225px;
	left: -360px;
}
.wrap4 .box1 .pic .cicle .cic5:hover img{
	display: block;
}
.wrap4 .box1 .pic .cicle .cic4:hover img{
	display: block;
}
.wrap4 .box1 .pic .cicle .cic3:hover img{
	display: block;
}
.wrap4 .box1 .pic .cicle .cic2:hover img{
	display: block;
}
.wrap4 .box1 .pic .cicle .cic1:hover img{
	display: block;
}
.wrap4 .box1 .pic .cicle .cic4 .img4{
	position: absolute;
	top:-225px;
	left: -335px;
}
.wrap4 .box1 .pic .cicle .cic3 .img3{
	position: absolute;
	top:-225px;
	left: -310px;
}
.wrap4 .box1 .pic .cicle .cic2 .img2{
	position: absolute;
	top:-225px;
	left: -285px;
}
.wrap4 .box1 .pic .cicle .cic1 .img1{
	position: absolute;
	top:-225px;
	left:-260px;
}
.wrap4 .box1 .pic .cicle li{
	width:15px;
	height:15px;
	border-radius:50%;
	background-color: white;
	float: left;
	position: relative;
	margin-left: 10px;
	top: 225px;
	left: 210px;
}
.wrap4 .box1 .content{
	width:560px;
	height: 250px;
	background-color: white;
	position: absolute;
	right: 0px;
	bottom:0px;
}
.wrap4 .box1 .content .title{
	font-size: 25px;
	position: absolute;
	top:-25px;
	left:30px;
	color:green;
}
.wrap4 .box1 .content .bod{
	width:540px;
	border-top: 5px solid rgba(98,90,90,1.00);
	position: absolute;
	top:40px;
	left: 20px;
}
.wrap4 .box1 .content .bod1{
	width:120px;
	border-top: 5px solid #f40;
	position: absolute;
	top: -5px;
}
.wrap4 .box2{
	width:960px;
	height:350px;
	position: absolute;
	bottom: 150px;
	left:250px;
}
.wrap4 .box1 .content .inform{
	position: absolute;
	top:30px;
	left: -20px;
}
.wrap4 .box1 .content .inform li{
	font-size: 12px;
	margin-top: 7px;
}
.wrap4 .box1 .content .inform li span{
	position: absolute;
	right:-70px;
}
.wrap4 .box2 .pic1{
	width:293px;
	height:150px;
	border:10px solid rgba(154,151,151,0.5);
	position: absolute;
}
.wrap4 .box2 .pic1 img{
	width:293px;
	height:150px;
}
.wrap4 .box2 .pic2{
	width:293px;
	height:150px;
	border:10px solid rgba(154,151,151,0.5);
	position: absolute;
	left: 333px;
}
.wrap4 .box2 .pic2 img{
	width:293px;
	height:150px;
}
.wrap4 .box2 .pic3{
	width:293px;
	height:150px;
	border:10px solid rgba(154,151,151,0.5);
	position: absolute;
	left: 666px;
}
.wrap4 .box2 .pic3 img{
	width:293px;
	height:150px;
}
.wrap4 .box2 .pic4{
	width:293px;
	height:150px;
	border:10px solid rgba(154,151,151,0.5);
	position: absolute;
	top:200px;
}
.wrap4 .box2 .pic4 img{
	width:293px;
	height:150px;
}
.wrap4 .box2 .pic5{
	width:293px;
	height:150px;
	border:10px solid rgba(154,151,151,0.5);
	position: absolute;
	top:200px;
	left: 333px;
}
.wrap4 .box2 .pic5 img{
	width:293px;
	height:150px;
}
.wrap4 .box2 .pic6{
	width:293px;
	height:150px;
	border:10px solid rgba(196,196,196,0.3);
	position: absolute;
	top:200px;
	left: 666px;
}
.wrap4 .box2 .pic6 img{
	width:293px;
	height:150px;
}
.wrap5{
	width:1440px;
	height: 1px;
	background-color: rgba(71,67,67,1.00);
	position: relative;
	left: 40px;
	top: 48px;
	box-shadow: 5px 0px 15px 3px;
}