
*{
	list-style: none;
}
body{
	margin: 0px;
}
.pic{
	width:1520px;
	height:740px;
	background-image:url("../images/日落.jpg");
}
.pic .firstpage a{
	font-size: 30px;
	text-decoration: none;
	color: white;
	position: absolute;
	top: 30px;
	left: 50px;
}
.pic .insert{
	width:550px;
	height:30px;
	position: absolute;
	left:50%;
	margin-left: -315px;
	top: 50px;
}
.pic .but{
	width:80px;
	height:36px;
	position: absolute;
	left: 1000px;
	top:50px;
}