*{
	list-style: none;
}
body{
	margin: 0px;
}
.pic{
	width:1520px;
	height:740px;
}
.pic img{
	width:1520px;
	height:740px;
	position: absolute;
}
.pic .wrap{
	width:400px;
	height:500px;
	background-color: rgba(61,157,247,1.00);
	position: absolute;
	right: 200px;
	top: 120px;
}
.pic .nvg{
	width:750px;
	height:50px;
	position: absolute;
	right: 120px;
}
.pic .nvg li{
	float:left;
	margin-left: 30px;
	color:white;
	font-size: 20px;
}
.pic .wrap .title{
	width:340px;
	height:50px;
	margin-left: 30px;
	margin-top: 20px;
}
.pic .wrap .title a{
	float:left;
	margin-left: 40px;
	font-size: 26px;
	text-decoration: none;
	color:white;
}
.pic .wrap .title .content2 a{
	background-color: #f40;
	border-radius: 5px;
}
.pic .wrap .insert1{
	width:300px;
	height:30px;
	margin-left: 40px;
	margin-top: 35px;
}
.pic .wrap .insert2{
	width:300px;
	height:30px;
	margin-left: 40px;
	margin-top: 35px;
}
.pic .wrap .insert3{
	width:300px;
	height:30px;
	margin-left: 40px;
	margin-top: 35px;
}
.pic .wrap .cek .content{
	width:20px;
	height:20px;
	position: absolute;
	left: 40px;
}
.pic .wrap .cek .content1{
	position: absolute;
	left: 65px;
	color: white;
}
.pic .wrap .cek .content2{
	position: absolute;
	right: 50px;
	color:white;
}

.pic .wrap .button{
	position: absolute;
	bottom: 120px;
	left: 40px;
	width:308px;
	height:40px;
}
.pic .wrap .type{
	width:360px;
	height:30px;
	position: absolute;
	bottom:80px;
	left:-15px;
}
.pic .wrap .type li{
	float: left;
	margin-left: 15px;
}
.pic .wrap .type li span{
	margin-left: 30px;
}
.pic .wrap .type img{
	width:20px;
	height:20px;
}
.pic .wrap .type span{
	font-size: 14px;
	color: white;
}