*{
	list-style: none;
}
.nvg{
	width:auto;
	height:50px;
	background-color:rgba(74,199,248,1.00);
	position:relative;
	box-sizing: border-box;

}
.nvg .leftcontent{
	width:500px;
	height:50px;
	position:absolute;
	left:100px;
	
}
.nvg .rightcontent{
	width:500px;
	height:50px;
	position:absolute;
	right:85px;
}
.nvg .leftcontent .content{
	float:left;
	color:white;
	margin-left:80px;
	font-size:22px;
	line-height:18px;
	text-decoration: none;
}
.nvg .rightcontent .content{
	float:left;
	color:white;
	margin-right:80px;
	font-size:22px;
	line-height:18px;
	text-decoration: none;
}

.bottom-box{
	width:auto;
	height:700px;
	
}
.bottom-box .bpic{
	width:auto;
	height:700px;
	background-image: url("img/背景.jpg");
}
.bottom-box .bpic .tsp{
	width:auto;
	height:700px;
	background-color:rgba(120,194,244,1.00);
	position:relative;
}
.bottom-box .bpic .tsp .center-box{
	width:1000px;
	height:680px;
	background-color:rgba(40,230,227,0.7);
	position:absolute;
	left:50%;
	margin-left:-500px;
}
.bottom-box .bpic .tsp .center-box .head-pic{
	width:100px;
	height:60px;
	position:relative;
	background-image: url("img/logo.png");
	left:50%;
	margin-left:-60px;
	margin-top:-50px;
	z-index: 5;
}
.bottom-box .bpic .tsp .center-box .content{
	width:500px;
	height:280px;
	position:absolute;
	left:50%;
	margin-left:-250px;
}
.bottom-box .bpic .tsp .center-box .content .eg-content{
	text-align:center;
	color:white;
	font-size:50px;
}
.bottom-box .bpic .tsp .center-box .content .ch-content{
	text-align:center;
	color:white;
	font-size:100px;
}
.bottom-box .bpic .tsp .first a{
	position:absolute;
	top:20px;
	left:80px;
	font-size:30px;
	text-decoration:none;
	color:white;
}
.bottom-box .bpic .tsp .exit a{
	position:absolute;
	bottom:20px;
	right:80px;
	font-size:30px;
	text-decoration:none;
	color:white;
}
.all-battom{
	width:285px;
	height:30px;
	position:absolute;
	left:50%;
	margin-left:-135px;
	bottom:10px;
}

.all-battom .bt1{
	float:left;
	text-align:center;
	line-height:30px;
	width:30px;
	height:30px;
	background-color:white;
	margin-left:15px;
	cursor:pointer;
}
.all-battom .bt1:hover{
	background-color:red;
	
}
.all-battom .bt2{
	float:left;
	text-align:center;
	line-height:30px;
	width:30px;
	height:30px;
	background-color:white;
	margin-left:15px;
	cursor:pointer;
}
.all-battom .bt2:hover{
	background-color:red;
}
.all-battom .bt3{
	float:left;
	text-align:center;
	line-height:30px;
	width:30px;
	height:30px;
	background-color:white;
	margin-left:15px;
	cursor:pointer;
}
.all-battom .bt3:hover{
	background-color:red;
}
.all-battom .bt4{
	float:left;
	text-align:center;
	line-height:30px;
	width:30px;
	height:30px;
	background-color:white;
	margin-left:15px;
	cursor:pointer;
}
.all-battom .bt4:hover{
	background-color:red;
}
.all-battom .bt5{
	float:left;
	text-align:center;
	line-height:30px;
	width:30px;
	height:30px;
	background-color:white;
	margin-left:15px;
	cursor:pointer;
}
.all-battom .bt5:hover{
	background-color:red;
}
.all-battom .bt6{
	float:left;
	text-align:center;
	line-height:30px;
	width:30px;
	height:30px;
	background-color:white;
	margin-left:15px;
	cursor:pointer;
}
.all-battom .bt6:hover{
	background-color:red;
}
.all-battom .pic{
	width:800px;
	height:280px;
	position:absolute;
	left:-265px;
	bottom:50px;
	background-color: white;
}
#battom1 .pic img{
	width:350px;
	height:280px;
	position: absolute;
	left: 0px;
}
#battom1 .pic .content{
	width:450px;
	height:280px;
	position: absolute;
	left: 600px;
}
#battom1 .pic .content .content1{
	font-size:30px;
}
#battom1 .pic .content .content2{
	position: absolute;
	top:220px;
}
#battom1 .pic .content .content2 span{
	margin-left: 220px;
}
#battom1 .pic .content .content2 .red{
	color: red;
	font-size: 25px;
	margin-left: 20px;
}
#battom1 .pic:hover{
	box-shadow:0px 0px 15px 10px rgba(0,0,0,0.5);
}
#battom2 .pic{
	background-image: url("/img/希腊扎金索斯港口.jpg");
	display:none;
	z-index: 6;
}
#battom3 .pic{
	background-image: url("/img/桂林.jpg");
	display:none;
	z-index: 7;
}
#battom4 .pic{
	background-image: url("/img/海岛.jpg");
	display:none;
	z-index: 8;
}
#battom5 .pic{
	background-image: url("/img/海洋公园.jpg");
	display:none;
	z-index: 9;
}
#battom6 .pic{
	background-image: url("/img/羽扇豆.jpg");
	display:none;
	z-index: 10;
}
.all-battom .bt6:hover#battom6 .pic{
	display:block;
}
.all-battom .bt5:hover#battom5 .pic{
	display:block;
}
.all-battom .bt4:hover#battom4 .pic{
	display:block;
}
.all-battom .bt3:hover#battom3 .pic{
	display:block;
}
.all-battom .bt2:hover#battom2 .pic{
	display:block;
}
.all-battom .bt1:hover#battom1 .pic{
	display:block;
}